.pie {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    vertical-align: baseline;
    align-content: center;
    align-items: center;
    padding: 10% 2% 10% 2%;
  }
  
  .formulario-inicio img {
    width: 250px;;
  }
  .pie h2{
    color: white;
    font-weight: 200;
    font-size: 1.2em;
  }
  #formulario-inicio {
    color:white
  }
  #formulario-inicio label {
   width: 150px;
  }