body {
    font-family: system-ui, serif;
    margin: 0;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    color: blue;
    display: block;
  }
  h2 {
    color: red;
    display: block;  
  }